<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p> 
            <input type="text" v-model="name"/>
            <span v-if="name">你的名字是：{{ name }}</span>
        </p>
        <p> 
            <input type="text" v-model="age"/>
            <span v-if="age"> 你的年龄是：{{ age }}</span>
        </p>
        <p> 
            <input type="text" v-model="gender"/>
            <span v-if="gender"> 你的性别是：{{ gender }}</span>
        </p>
    </div>
    <script src="../lib/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>